# Ignore node_modules folders
node_modules
*/node_modules

# Ignore logs
*.log
logs
server/logs
client/logs

# Ignore build artifacts (if present)
dist

# Ignore OS-specific files
.DS_Store

# Ignore environment files (optional, for security)
.env

